<div
    class="navigation row jc-sb ai-c bg-black pointer full-white"
    (click)="showAccordionBlock(); $event.stopPropagation()"
    [class]="showAccordion | hide">
    <img
        class="white-chevron"
        width="18"
        height="18"
        [ngSrc]="'white-chevron-down' | asset: openSourceAccordionPath"
        alt="Chevron white" />
    <img
        class="yellow-chevron"
        width="18"
        height="18"
        [ngSrc]="'yellow-chevron-down' | asset: openSourceAccordionPath"
        alt="Chevron yellow" />
    <span class="navigation-text fs-16 ls-25 uppercase">Navigation</span>
</div>
<div class="drawer-container column bg-black" [class]="showAccordion | hide" #accordionBlock>
    <div class="drawer bg-black">
        @for (list of lists(); track list.id; let i = $index) {
            <div class="non-active accordion-block" #accordion>
                <div
                    class="accordion row ai-c bg-black fs-white-14 pointer border-accordion-tb-def"
                    (click)="toggle(i); switchAccordion(list.id); $event.stopPropagation()">
                    <div class="left-side-accordion row ai-c bg-light-grey-accordion">
                        <img
                            width="32"
                            height="32"
                            [ngSrc]="list.defaultSvg | asset: openSourceAccordionPath"
                            class="default-svg"
                            alt="Accordion white" />
                        <img
                            width="32"
                            height="32"
                            [ngSrc]="list.activeSvg | asset: openSourceAccordionPath"
                            class="active-svg"
                            alt="Accordion yellow" />
                    </div>
                    <button class="accordion-btn bg-black full-white pointer">
                        {{ list.header }}
                    </button>
                    <div class="right-side-accordion">
                        <img
                            width="12"
                            height="12"
                            [ngSrc]="list.whiteChevron | asset: openSourceAccordionPath"
                            class="chevron-default"
                            alt="Chevron white" />
                        <img
                            width="12"
                            height="12"
                            [ngSrc]="list.yellowChevron | asset: openSourceAccordionPath"
                            class="chevron-active"
                            alt="Chevron yellow" />
                    </div>
                </div>
                <div class="panel full-white text bg-black">
                    @for (item of list.text; track item.id) {
                        <p
                            class="accordion-box pointer"
                            [class]="item.id | color: itemInAccordion"
                            (click)="handleClick(item.id, item.scrollTo)">
                            {{ item.content }}
                        </p>
                    }
                </div>
            </div>
        }
        <div class="visit-btn">
            <jsdaddy-open-source-visit-btn />
        </div>
    </div>
</div>
