<div
    class="navigation row jc-sb ai-c bg-black pointer full-white"
    (click)="showAccordionBlock(); $event.stopPropagation()"
    [ngClass]="showAccordion | hide" #toggleButton>
    <img
        class="white-chevron"
        width="18"
        height="18"
        [ngSrc]="'white-chevron-down' | asset"
        alt="white-chevron" />
    <img
        class="yellow-chevron"
        width="18"
        height="18"
        [ngSrc]="'yellow-chevron-down' | asset"
        alt="chevron-yellow" />
    <span class="navigation-text fs-16 ls-25 uppercase">Navigation</span>
</div>
<div class="drawer-container column bg-black" [ngClass]="showAccordion | hide" #accordionBlock>
    <div class="drawer bg-black">
        <div
            *ngFor="let list of lists; let i = index; trackBy: trackByPath"
            class="non-active accordion-block"
            #accordion>
            <div
                class="accordion row ai-c bg-black fs-white-14 pointer border-accordion-tb-def"
                (click)="toggle(i); switchAccordion(list.id); $event.stopPropagation()">
                <div class="left-side-accordion row ai-c bg-light-grey-accordion">
                    <img
                        width="32"
                        height="32"
                        [ngSrc]="list.defaultSvg | asset"
                        class="default-svg"
                        alt="accordion-default" />
                    <img
                        width="32"
                        height="32"
                        [ngSrc]="list.activeSvg | asset"
                        class="active-svg"
                        alt="accordion-active" />
                </div>
                <button class="accordion-btn bg-black full-white pointer">
                    {{ list.header }}
                </button>
                <div class="right-side-accordion">
                    <img
                        width="12"
                        height="12"
                        [ngSrc]="list.whiteChevron | asset"
                        class="chevron-default"
                        alt="chevron-default" />
                    <img
                        width="12"
                        height="12"
                        [ngSrc]="list.yellowChevron | asset"
                        class="chevron-active"
                        alt="chevron-active" />
                </div>
            </div>
            <div class="panel full-white text bg-black">
                <p
                    *ngFor="let item of list.text; trackBy: trackByPath"
                    class="accordion-box pointer"
                    [ngClass]="item.id === itemInAccordion | color"
                    (click)="handleClick(item.id, item.scrollTo)">
                    {{ item.content }}
                </p>
            </div>
        </div>
        <div class="visit-btn">
            <jsdaddy-open-source-visit-btn></jsdaddy-open-source-visit-btn>
        </div>
    </div>
</div>
