.non-active {
    .accordion-title {
        color: #ffffff;
    }
    .panel,
    .chevron-active,
    .active-svg {
        display: none;
    }
    .chevron-default,
    .default-svg {
        display: block;
    }

    &:hover {
        .chevron-default,
        .default-svg {
            display: none;
        }
        .chevron-active,
        .active-svg {
            display: block;
        }
    }
}

.active {
    .chevron-default,
    .default-svg {
        display: none;
    }
    .chevron-active,
    .active-svg,
    .panel {
        display: block;
    }

    .accordion-title {
        color: #ffd64d;
    }
}
