.input-wrapper {
    @apply w-full box-border inline-flex items-center rounded-10px border-b-2 border-b-full-white;
    &.dark {
        @apply border-black;
    }
    textarea {
        @apply h-[157px] resize-none;
    }
    input,
    textarea {
        @apply w-[67%] box-border py-[14px] px-15px outline-none border-none text-full-white text-span bg-transparent;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: #fff !important;
            @apply caret-full-white;
        }
        &.dark {
            @apply text-black;
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: var(--black) !important;
                @apply caret-black;
            }
        }
    }

    label {
        @apply cursor-pointer text-label ml-auto mr-4;
    }

    input::placeholder,
    textarea::placeholder {
        color: rgba(255, 255, 255, 0.25);
    }

    .dark::placeholder {
        @apply text-black opacity-25;
    }

    &.not-valid {
        @apply text-red border-b-2 border-b-red;
    }

    &.valid {
        @apply border-b-2 border-b-yellow;
    }
}
