<div class="input-wrapper" [ngClass]="[control | input: true, isDark ? 'dark' : '']">
    @if (!isTextarea) {
        <input
            [formControl]="control"
            [ngClass]="{ dark: isDark }"
            type="text"
            [jsdaddyAutofocus]="autoFocus"
            name="input"
            [placeholder]="placeholder"
            (keyup.enter)="onLabelClick()"
            class="span" />
    } @else {
        <textarea
            [formControl]="control"
            [ngClass]="{ dark: isDark }"
            type="text"
            name="input"
            [jsdaddyAutofocus]="autoFocus"
            [placeholder]="placeholder"
            (keyup.enter)="onLabelClick()"
            class="span"></textarea>
    }
    <ng-template #textarea>
        <textarea
            [formControl]="control"
            [ngClass]="{ dark: isDark }"
            type="text"
            name="input"
            [jsdaddyAutofocus]="autoFocus"
            [placeholder]="placeholder"
            (keyup.enter)="onLabelClick()"
            class="span"></textarea>
    </ng-template>
    <label (click)="onLabelClick()" for="input">
        @if ((control | input) || (label | uppercase); as label) {
            {{ label }}
        } @else {
            @if (control.touched) {
                <img
                    alt="Done"
                    width="15"
                    height="11"
                    [src]="'done-yellow' | asset: additionalPath" />
            }
        }
    </label>
</div>
