<div class="input-wrapper" [ngClass]="[control | input : true, isDark ? 'dark' : '']">
    <input
        *ngIf="!isTextarea; else textarea"
        [formControl]="control"
        [ngClass]="{ dark: isDark }"
        type="text"
        [jsdaddyAutofocus]="autoFocus"
        name="input"
        [placeholder]="placeholder"
        (keyup.enter)="onLabelClick()"
        class="span" />
    <ng-template #textarea>
        <textarea
            [formControl]="control"
            [ngClass]="{ dark: isDark }"
            type="text"
            name="input"
            [jsdaddyAutofocus]="autoFocus"
            [placeholder]="placeholder"
            (keyup.enter)="onLabelClick()"
            class="span"></textarea>
    </ng-template>
    <label (click)="onLabelClick()" for="input">
        <ng-container *ngIf="(control | input) || (label | uppercase) as label; else suffixicon">
            {{ label }}
        </ng-container>
        <ng-template #suffixicon>
            <img
                *ngIf="control.touched"
                alt="Done"
                width="15"
                height="11"
                [src]="'done-yellow' | asset : additionalPath" />
        </ng-template>
    </label>
</div>
