<div class="input-wrapper" [ngClass]="[control | input: true, isDark() ? 'dark' : '']">
    @if (!isTextarea()) {
        <input
            [formControl]="control"
            [ngClass]="{ dark: isDark() }"
            type="text"
            [jsdaddyAutofocus]="autoFocus()"
            name="input"
            id="{{ uniqueId }}"
            [placeholder]="placeholder()"
            (keyup.enter)="onLabelClick()"
            class="span" />
    } @else {
        <textarea
            [formControl]="control"
            [ngClass]="{ dark: isDark() }"
            type="text"
            name="input"
            id="{{ uniqueId }}"
            [jsdaddyAutofocus]="autoFocus()"
            [placeholder]="placeholder()"
            (keyup.enter)="onLabelClick()"
            class="span"></textarea>
    }

    <label (click)="onLabelClick()" for="{{ uniqueId }}">
        @if ((control | input) || (label() | uppercase); as l) {
            {{ l }}
        } @else {
            @if (control.touched) {
                <img
                    alt="Done"
                    width="15"
                    height="11"
                    [ngSrc]="'done-yellow' | asset: additionalPath" />
            }
        }
    </label>
</div>
