@import '../../styles/media-breakpoints';
.all-rights {
    height: calc(100dvh - 600px);
    span {
        padding-bottom: 40px;
        color: rgb(100 116 139);
    }
}

@media screen and (max-width: $desktopWidth) {
    .all-rights {
        height: calc(100dvh - 65vh);
    }
}

@media screen and (max-width: $mobileWidth) {
    .all-rights {
        height: 150px;
    }
}
