@import 'src/libraries/styles/media-breakpoints';
.all-rights {
    height: calc(100vh - 400px);
    img {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: $desktopWidth) {
    .all-rights {
        height: calc(100vh - 500px);
    }
}

@media screen and (max-width: $mobileWidth) {
    .all-rights {
        height: calc(100vh - 650px);
    }
}
