@import 'src/libraries/styles/general';

.color-btn {
    padding: 15px 32px;
    gap: 76px;
    width: 262px;
    height: 45px;
    border-radius: 10px;
    &:after {
        content: url('/assets/images/button-chevron.svg');
        width: 20px;
        height: 20px;
    }
}
