<div class="header row ai-c bg-full-white" [ngClass]="showNav | hide">
    <div class="left-side">
        <span class="logo">
            <a [href]="jsDaddyWebsite" target="_blank" aria-label="jsdaddy-website">
                <img width="34" height="29" [ngSrc]="'logo' | asset" alt="jsdaddy" class="logo" />
            </a>
        </span>
    </div>
    <div class="center-side row ai-c" *ngFor="let items of headerItems; trackBy: trackByPath">
        <span class="mrl-20" [ngClass]="activeLink === items.link | color">
            <a [href]="items.link" target="_blank" aria-label="github-pages">
                <button class="center-buttons row ai-c pointer">
                    {{ items.title }}
                </button>
            </a>
        </span>
    </div>
    <div class="open-nav pointer" (click)="toggleNavBlock()">
        <img width="48" height="48" [ngSrc]="'burger' | asset" alt="burger" />
    </div>
    <div class="mob-open">
        <img
            width="34"
            height="29"
            [ngSrc]="'logo-white' | asset"
            alt="logo-white"
            class="logo-white ais-c" />
        <img
            width="68"
            height="67"
            [ngSrc]="'close' | asset"
            alt="close"
            (click)="toggleNavBlock()" />
    </div>
    <div class="nav-section bg-black" [ngClass]="showNav | hide">
        <h3 class="full-white text uppercase ls-25">Repositories</h3>
        <div class="nav-buttons">
            <div
                *ngFor="let items of headerItems; trackBy: trackByPath"
                [ngClass]="activeLink === items.link | color">
                <a [href]="items.link" target="_blank" aria-label="github-pages">
                    <button class="row">
                        {{ items.title }}
                    </button>
                </a>
            </div>
            <div class="btn-bottom">
                <jsdaddy-open-source-visit-btn></jsdaddy-open-source-visit-btn>
            </div>
        </div>
    </div>
</div>
