@import 'src/libraries/styles/general';

.sub-header {
    padding: 20px 20px 20px 30px;
    .title {
        padding-bottom: 10px;
        .title-btn {
            .github-info {
                display: flex;
                margin: 0 44px 0 20px;

                > div {
                    display: flex;
                    align-items: center;

                    padding: 3px 10px;

                    background-color: var(--black);

                    border: 1px solid var(--black);
                    border-radius: 4px;

                    font-size: 12px;

                    color: var(--full-white);

                    &.all-stars {
                        margin-right: 7px;
                        position: relative;

                        &:after {
                            content: '';
                            width: 8px;
                            height: 8px;
                            background-color: var(--black);

                            transform: rotate(45deg) translateY(-50%);

                            position: absolute;
                            top: 50%;
                            right: -1px;
                        }

                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .sub-title {
        padding-bottom: 10px;
    }
    .chips {
        flex-wrap: wrap;
        gap: 10px;
        &:first-child {
            padding: 0 5px 0 0;
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .sub-header {
        padding: 35px 20px 20px 20px;
        .git-text {
            display: block;
            .title-btn {
                position: relative;
                top: -35px;
                right: 19px;
            }
        }
        .sub-text {
            position: relative;
            top: 30px;
        }
    }
}
