<div class="sub-header column white">
    <div class="git-text title row jc-sb">
        <h3 class="sub-text h3-text">{{ title }}</h3>
        <div class="title-btn row">
            <a href="https://github.com/JsDaddy/">
                <button class="github-btn row full-white pointer span bg-black">
                    <img width="16" height="16" [ngSrc]="'github-white' | asset" alt="github" />
                    <span>All Stars</span>
                    <img
                        width="8"
                        height="8"
                        [ngSrc]="'rectangle' | asset"
                        alt="rectangle"
                        class="rectangle" />
                </button>
            </a>
            <a href="https://github.com/JsDaddy/">
                <button class="stars-btn row full-white span pointer bg-black">1104</button>
            </a>
        </div>
    </div>
    <span class="sub-title span">
        {{ subtitle }}
    </span>
    <div class="chips row orange">
        <jsdaddy-chip
            class="chips"
            chipBgColor="rgba(255, 113, 10, 0.05)"
            *ngFor="let chip of chips; trackBy: trackByPath"
            [chip]="chip"></jsdaddy-chip>
    </div>
</div>
