<div class="sub-header column white">
    <div class="git-text title row jc-sb">
        <h3 class="sub-text h3-text">{{ title }}</h3>
        <div class="title-btn row">
            <jsdaddy-github-stars></jsdaddy-github-stars>
        </div>
    </div>
    <span class="sub-title span">
        {{ subtitle }}
    </span>
    <div class="chips row orange">
        <jsdaddy-chip
            class="chips"
            chipBgColor="rgba(255, 113, 10, 0.05)"
            *ngFor="let chip of chips; trackBy: trackByPath"
            [chip]="chip"></jsdaddy-chip>
    </div>
</div>
